@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #222;
    overflow-x: hidden;
    background-color: #333;
}

.container {
    background-color: #fafafa;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    transition: transform 0.8s ease;
    transform-origin: top left;
}

.content {
    margin: 50px auto;
    max-width: 1000px;
}

h1 {
    margin: 0;
}

.imageBlog {
    width: 100%;
}

.containerMenu{
    position: fixed;
    left: -100px;
    top: -100px;
    background-color: #FF7979;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.8s ease;
}

.open{
    background: none;
    border: none;
    position: fixed;
    color: #fafafa;
    transform: translate(120px,130px);
    cursor: pointer;
    font-size: 25px;
}
.close{
    background: none;
    border: none;
    position: fixed;
    color: #fafafa;
    transform: translate(40px,120px);
    cursor: pointer;
    font-size: 25px;
}

nav{
    position: absolute;
    /* left: 0; */
    /* top: 0px; */
}

ul{
    list-style-type: none;
}

li a{
    /* padding-left: 20px; */
    text-decoration: none;
    font-weight: 600;
    color: #222;
}