@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #222;
    overflow-x: hidden;
    background-color: #333;
}

.container {
    background-color: #fafafa;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    transition: transform 0.8s ease;
    transform-origin: top left;
}

.content {
    margin: 50px auto;
    max-width: 1000px;
}

h1 {
    margin: 0;
}

.imageBlog {
    width: 100%;
}

.containerMenu {
    position: fixed;
    left: -100px;
    top: -100px;
    background-color: #FF7979;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.8s linear;
}

.rotateMenu{
    transform: rotate(-70deg);
}

.open {
    background: none;
    border: none;
    position: fixed;
    color: #fafafa;
    transform: translate(120px, 130px);
    cursor: pointer;
    font-size: 25px;
}

.close {
    background: none;
    border: none;
    position: fixed;
    color: #fafafa;
    transform: translate(40px, 120px);
    cursor: pointer;
    font-size: 25px;
}

nav {
    position: fixed;
    left: -250px;
    bottom: 50px;
    background-color: aquamarine;
    transition: left 0.5s ease-in 0.3s;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 40px;
}

li .fa-user-alt {
    margin-left: 20px;
}

li .fa-envelope {
    margin-left: 40px;
}

li a {
    padding-left: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #222;
    color: #fafafa;
}

li i {
    font-size: 22px;
    color: #fafafa;
}